[submodule "ext/libmsp"]
	path = ext/libmsp
	url = https://github.com/CMUAbstract/libmsp
[submodule "ext/maker"]
	path = ext/maker
	url = https://github.com/CMUAbstract/maker
[submodule "ext/mementos"]
	path = ext/mementos
	url = https://github.com/CMUAbstract/mementos
[submodule "ext/dino"]
	path = ext/dino
	url = https://github.com/CMUAbstract/dino
[submodule "ext/libio"]
	path = ext/libio
	url = https://github.com/CMUAbstract/libio.git
[submodule "ext/libmspware"]
	path = ext/libmspware
	url = https://github.com/CMUAbstract/libmspware
[submodule "ext/libmspbuiltins"]
	path = ext/libmspbuiltins
	url = https://github.com/CMUAbstract/libmspbuiltins.git
[submodule "ext/libcapybara"]
	path = ext/libcapybara
	url = git@github.com:CMUAbstract/libcapybara
[submodule "ext/libfxl"]
	path = ext/libfxl
	url = git@github.com:CMUAbstract/libfxl
