[submodule "ext/libmsp"]
	path = ext/libmsp
	url = /afs/ece.cmu.edu/project/abstract/repos/libmsp
[submodule "ext/maker"]
	path = ext/maker
	url = /afs/ece.cmu.edu/project/abstract/repos/maker
[submodule "ext/mementos"]
	path = ext/mementos
	url = /afs/ece.cmu.edu/project/abstract/repos/mementos
[submodule "ext/dino"]
	path = ext/dino
	url = /afs/ece.cmu.edu/project/abstract/repos/dino
